<?xml version="1.0"?>

<configuration>

    <configSections>
        <section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark"/>
    </configSections>
    
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <spark>
        <compilation debug="true">
            <assemblies/>
        </compilation>
        <pages automaticEncoding="false">
            <namespaces>
                <add namespace="System"/>
                <add namespace="System.Collections.Generic"/>
                <add namespace="System.Linq"/>
                <add namespace="System.Web.Routing"/>
            </namespaces>
            <resources/>
        </pages>
    </spark>
    
</configuration>
