<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\tinyweb.framework\packages.config" />
  <repository path="..\src\tinyweb.viewengine.spark\packages.config" />
  <repository path="..\src\tinyweb.framework.tests\packages.config" />
  <repository path="..\src\tinyweb.viewengine.tests\packages.config" />
</repositories>