<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\tinyweb.framework\packages.config" />
  <repository path="..\src\tinyweb.viewengine.spark\packages.config" />
  <repository path="..\src\tinyweb.framework.tests\packages.config" />
  <repository path="..\src\tinyweb.viewengine.tests\packages.config" />
  <repository path="..\src\tinyweb.samples.structuremap\packages.config" />
  <repository path="..\src\tinyweb.samples.spark\packages.config" />
  <repository path="..\src\tinyweb.samples.prg\packages.config" />
  <repository path="..\src\tinyweb.samples.nhaml\packages.config" />
  <repository path="..\src\tinyweb.samples.ndjango\packages.config" />
  <repository path="..\src\tinyweb.samples.formpost\packages.config" />
</repositories>